.menuimage {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: 6px 8px;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
    display: block;
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

body { 
    background: yellow; 
    background: -moz-linear-gradient(left, red 0%, yellow 100%); 
    background: -webkit-linear-gradient(left, red 0%, yellow 100%); 
    background: -o-linear-gradient(left, red 0%, yellow 100%); 
    background: linear-gradient(to right, red 0%,yellow 100%);
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0e0e0;
}

#banner h1 {
    margin: 0;
}

#pagetitle {
    color: #e0e0e0;
}

#textsection {
    color: #e0e0e0;
}

#projects {
    color: #e0e0e0;

}

#form {
    color: #e0e0e0;
}

#footer {
    text-align: center;
    color: #e0e0e0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#copyright {
    text-align: left;
    color: #e0e0e0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}